<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="/css/go-fit.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	    {{ template "title" . }}
	</head>
	<body>
		{{ template "scripts" . }}

		{{if .User.UserLevel}}{{if eq .User.UserLevel "admin"}}
			<script src="/js/admin.js"></script>
		{{end}}{{end}}

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">GoFit</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/newfit">Make a fit</a></li>
					</ul>
					{{if .User.Username}}
						{{if eq .User.Username ""}}
							<form class="navbar-form navbar-right" method="post" action="/login">
								<div class="form-group">
									<input type="text" name="username" placeholder="Username" class="form-control">
								</div>
								<div class="form-group">
									<input type="password" name="password" placeholder="Password" class="form-control">
								</div>
								<input type="submit" name="commit" value="Login" class="btn btn-success">
							</form>
						{{else}}
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{.User.Username}} <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/logout">Logout</a></li>
									<li><a href="/fits">Your Fits</a></li>
									{{if .User.UserLevel}} {{if eq .User.UserLevel "admin"}}
									<li role="presentation" class="divider"></li>
									<li class="disabled"><a href=""><small>Admin stuff</small></a></li>
									<li><a onclick="ReloadTemplates();">Reload Templates</a></li>
									<li><a href="/admin/manageusers/1">Manage Users</a></li>
									<li><a href="/admin/fits">Manage All Fits</a></li>
									{{end}}{{end}}
								</ul>
							</ul>
						{{end}}
					{{else}}
						<form class="navbar-form navbar-right" method="post" action="/login">
							<div class="form-group">
								<input type="text" name="username" placeholder="Username" class="form-control">
							</div>
							<div class="form-group">
								<input type="password" name="password" placeholder="Password" class="form-control">
							</div>
							<input type="submit" name="commit" value="Login" class="btn btn-success">
						</form>
					{{end}}
				</div><!--/.navbar-collapse -->
			</div>
		</nav>

		<div class="container">
			<div id="alert-success" class="alert alert-success alert-dismissible" role="alert" style="display: none;" >
				<button type="button" class="close" onclick="$('#alert-success').hide();" aria-label="Close"><span>&times;</span></button>
				<div id="alert-success-text">Nothing here.</div>
			</div>
			<div id="alert-error" class="alert alert-warning alert-dismissible" role="alert" style="display: none;" >
				<button type="button" class="close" onclick="$('#alert-error').hide();" aria-label="Close"><span>&times;</span></button>
				<div id="alert-error-text">Nothing here.</div>
			</div>
		</div>
		{{ template "content" . }}

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="/js/util.js"></script>
	<footer class="footer">
	<div class="container"><p class="text-muted">Fuck Javascript ;_;</p></div>
	{{with .Errors}}
		<p class="text-warning">Errors:</p>
		{{range .Errors}}
			{{.}}
		{{end}}
	{{end}}
	</footer>
	</body>
</html>
{{ define "scripts" }}{{ end }}