{{template "base.tmpl"}}
{{ define "title"}}<title>Error</title>{{ end }}
	<div class="jumbotron">
		<div class="container">
		<h1>UhOh!</h1>
		<p>Looks like there was an error.</p></br>
		<p>{{.UhOh.Error}}</p>
		</div>
	</div>
{{ define "content" }}
{{ end }}