{{ template "base.tmpl" }}
{{ define "title"}}<title>Index</title>{{ end }}
{{ define "content" }}
	<div class="jumbotron">
		<div class="container">
		<h1>You like fits?</h1>
		<p>Too bad.  This shit sucks still</p></br>
		</div>
	</div>
{{ end }}